<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
</head>
    style
      include ../static/main.css
<body>
    <nav id="navbar">
        <div id="logo">
        <img src='divysri.jpeg' alt="">
        </div>
        <ul>
            <li class="item"><a href="#">Home</a></li>
            <li class="item"><a href="#services-container">Services</a></li>
            <li class="item"><a href="#client-section">Client</a></li>
            <li class="item"><a href="#contact-box">Contact</a></li>
        </ul>
    </nav>
    <section id="home">
        <div id="page">
            <h1 id="change">This is the first Website</h1>
            <p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam minus iusto eveniet voluptatem In est quisquam mollitia, illo ad ullam modi aut aspernatur culpa provident inventore quasi</p>
            <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis praesentium temporeexplicabo, sapiente culpa deleniti</p>
            <button id="btn">Submit now</button>
        </div>
    </section>

    <section id="services-container">
        <h1 class="hc"> Our Services</h1>
        <div id="services">
            <div class="box">
                <img src="/s1.png" alt="">
                <h2 class="heading2">IT Services</h2>
                <p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem asperiores distinctio
                   | quasi,
                   | deserunt aliquid facilis vero quos id perferendis possimus?</p>
            </div>
            <div class="box">
                <img src="s2.png" alt="">
                <h2 class="heading2">Cunseltancy Services</h2>
                <p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem asperiores distinctio
                |  quasi,
                | deserunt aliquid facilis vero quos id perferendis possimus?</p>
            </div>
            <div class="box">
                <img src="s3.png" alt="">
                <h2 class="heading2">Health Services</h2>
                <p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem asperiores distinctio
                |    quasi,
                |   deserunt aliquid facilis vero quos id perferendis possimus?</p>
            </div>
        </div>
    </section>
    <section id="client-section">
        <h1 class="hc">Our Client</h1>
        <div id="client">
            <div class="cl">
                <img src="logo3.png" alt="">
            </div>
            <div class="cl">
                <img src="logo1.png" alt="">
            </div>
            <div class="cl">
                <img src="logo4.png" alt="">
            </div>
            <div class="cl">
                <img src="logo1.png" alt="">
            </div>

        </div>

    </section>
    <section id="contact-box">
        <h1 class="hc">Contact Form</h1>
        <div id="contact">
            <form action="/" method="post" id= "form">
                <div class="ci">
                    <label for="name">Name:</label>
                    <input type="text" placeholder="Type your name" name = "Name">
                </div>
                <div class="ci">
                    <label for="email">Email Id.:</label>
                    <input type="email" placeholder="Enter your email id" name = "EmailId">
                </div>
                <div class="ci">
                    <label for="Phone">Phone No.:</label>
                    <input type="number" placeholder="contact no." name = "PhoneNo">
                </div>
                <div class="ci">
                    <label for="message">Message:</label>
                    <textarea name="Message" id="" cols="30" rows="10" placeholder="type your message"></textarea>
                </div>
                <div>
                    <button id="touch">Submit Now</button>
                </div>
            </form>
        </div>
    </section>
    <footer>
        <div class="last-part">
            copyright &copy; www.mywebsite.com Alright are reserved!
        </div>
    </footer>

</body>
</main>

</html>